.images{
        display:flex;
        justify-content:space-evenly;
        padding:0.75%;
}
img{
    border-radius: 25%;
    border-style: double;
}
.images2{
    display:flex;
        justify-content:space-evenly;
        padding:0.75%;
}
.images3{
    display:flex;
        justify-content:space-evenly;
        padding:0.75%;
}
.images4{
    display:flex;
        justify-content:space-evenly;
        padding:0.75%;
}
