

.login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    position: relative;
}
.logo img {
    height: 50px;
    width: 50px;
}
.logo-text {
    font-size: 20px;
    margin-left: 5px;
}
.tabasum {
    text-align: right;
}
.tabasum a {
    margin-left: 10px;
}

.header1{
    margin: auto;
    padding:2%;
    padding: 25px 25px 25px 25px;
    width: 800px;
    height: 800px;
}
#taj
{
    transition: transform 1s infinite;
}
.header1:hover #taj{
    transform: rotate(360deg);
    animation:movetaj 1s infinite;
}
@keyframes movetaj {
    0%{
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(90deg);
    }

    75%
    {
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.images3{
    display:flex;
    justify-content:space-evenly;
    padding:0.75%;
}
.header div a:hover{
    color: black;
    transition: all 1s ease 0s;
}
.mas{
    padding: 5px;
    width:450px;
    border:2px solid black;
     display: flex;
    justify-content: space-evenly;
}
a{
     color:black;
     padding:40px;
 }
 a:link{
    text-decoration: none;
    color:black;
}
.m {
    animation: glow 2s infinite;
   
    }
@keyframes glow {
0% {
text-shadow: 0 0 5px red;
}
50% {
text-shadow: 0 0 20px blue;
}
100% {
text-shadow: 0 0 5px red;
}
}
a{
    color:black;
}








